<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/fragments::head"></head>
<body>
<header th:replace="commons/fragments::navigation"></header>
<main>
    <div>
        <div>
            <h1><strong>Fight</strong></h1>
            <h3><strong>Here you fight the monster you picked</strong></h3>
        </div>
        <div>
            <div><span th:text="|Monster: ${monster.monsterClass}, ${monster.description}|"></span></div>
            <div><span th:text="|Hitpoints:${monster.hitpoints}|"></span></div>
            <div><span th:text="|Strength: ${monster.strength}|"></span></div>
        </div>
        <br/>
        <th:block th:if="${fighter.strikesLeft > 0}">
            <a href="/fight/strike">Strike it</a>
            <br/>
        </th:block>
        <a href="/fight/give">Give up.</a>
        <br/>
        <div>
            <div><span th:text="|Your Hitpoints: ${fighter.hitpoints}|"></span></div>
            <div><span th:text="|${fighter.sword.swordClass}, Strikes Left: ${fighter.strikesLeft}|"></span></div>
        </div>
    </div>
</main>
<footer th:replace="commons/fragments::footer"></footer>
</body>
</html>