<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/fragments::head"></head>
<body>
<header th:replace="commons/fragments::navigation"></header>
<main>
    <div>
    <h1>Welcome to Swordo</h1>
        <p> The project is a work in progress.
            I am currently trying my best to pull it off.
            What you are currently looking at, is an example field which
            will be removed when I manage to connect all pages and pull off their functionality.
            I doubt I'll manage tho. In the meantime login or register if you are testing the
            functionality of the mock app.
        </p>
    </div>
</main>
<footer th:replace="commons/fragments::footer"></footer>
</body>
</html>